.DS_Store

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.metadata/
.project
.classpath

# VSCode
.vscode/settings.json

# Common
/server/target/
/server/*.versionsBackup
/frontend/node_modules
/frontend/build
/frontend/.svelte-kit
/frontend/package
.env

# Misc
*Test.java
/server/config.json
/server/Media/
/server/Cache/
/server/Ingest/
