.DS_Store

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.metadata/
.project
.classpath

# VSCode
.vscode/settings.json

# Common
*target/
*.versionsBackup

# Misc
*Test.java
/server/config.json
/server/Media/
/server/Cache/
/server/Ingest/
